Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-12, with the labels that each got.

#152 Update microsoft-defender-endpoint-linux.md
  defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#153 Update linux-install-with-saltack.md
  defender-endpoint/linux-install-with-saltack.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#154 Update linux-support-perf.md
  defender-endpoint/linux-support-perf.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#97 Update advanced-hunting-aadsignineventsbeta-table.md
  defender-xdr/advanced-hunting-aadsignineventsbeta-table.md
Labels: Tier3, defender-xdr/svc, adv-hunting/subsvc

#157 Update indicator-ip-domain.md
  defender-endpoint/indicator-ip-domain.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, search.appverid/subsvc

#158 Update criteria.md
  defender-xdr/criteria.md
Labels: Tier2, defender-xdr/svc

#162 Update linux-install-manually.md
  defender-endpoint/linux-install-manually.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc
