Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-06, with the labels that each got.

#41 Update mde-p1-setup-configuration.md
  defender-endpoint/mde-p1-setup-configuration.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2, Microsoft submitter

#43 Update m365d-configure-auto-investigation-response.md
  defender-xdr/m365d-configure-auto-investigation-response.md
Labels: Tier2, Microsoft submitter, defender-xdr/svc

#45 Fix `..com` typo in Safe Links domain
  defender-office-365/safe-links-about.md
Labels: defender-office-365/svc, Tier1

#46 Update linux-install-with-saltack.md
  defender-endpoint/linux-install-with-saltack.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#49 Update attack-simulation-training-faq.md
  defender-office-365/attack-simulation-training-faq.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#48 Update run-advanced-query-sample-powershell.md
  defender-endpoint/api/run-advanced-query-sample-powershell.md
Labels: defender-endpoint/svc, Tier3, reference/subsvc

#50 Update configure-device-discovery.md
  defender-endpoint/configure-device-discovery.md
Labels: defender-endpoint/svc, Tier1

#52 Update mac-whatsnew.md
  defender-endpoint/mac-whatsnew.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#53 /var/*/ exclusion example misinformation
  defender-endpoint/linux-exclusions.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#54 Update ios-install.md
  defender-endpoint/ios-install.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, ios/subsvc
