Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-11, with the labels that each got.

#131 Missing tilde sign causing DISM command to fail
  defender-endpoint/troubleshoot-onboarding.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier3

#134 Updated the links to the incident page for mdo-sec-ops-manage-incidents-and-alerts.md
  defender-office-365/mdo-sec-ops-manage-incidents-and-alerts.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#135 Updated the links to the incident page for mdo-sec-ops-guide.md
  defender-office-365/mdo-sec-ops-guide.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#136 Update safe-links-about.md
  defender-office-365/safe-links-about.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#138 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc, mdo/subsvc

#142 Add changes in troubleshooting
  defender-endpoint/mde-plugin-wsl.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2, Microsoft submitter

#141 Update mac-preferences.md
  defender-endpoint/mac-preferences.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#143 Update device-discovery-faq.md
  defender-endpoint/device-discovery-faq.md
Labels: defender-endpoint/svc, onboard/subsvc, Microsoft submitter, Tier3

#144 Convert command from Certutil to Powershell
  defender-office-365/tenant-allow-block-list-files-configure.md
Labels: defender-office-365/svc, Tier1

#145 Add note that the procedure requires tenant Entra ID P2
  defender-xdr/mssp-access.md
Labels: Tier2, defender-xdr/svc

#147 Update configure-extension-file-exclusions-microsoft-defender-antivir…
  defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#150 Update scc-permissions.md
  defender-office-365/scc-permissions.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1
