Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-07, with the labels that each got.

#55 Update mdo-email-entity-page.md
  defender-office-365/mdo-email-entity-page.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#56 Update m365d-response-actions-notifications.md
  defender-xdr/m365d-response-actions-notifications.md
Labels: defender-xdr/svc, Tier1

#57 Update remediate-malicious-email-delivered-office-365.md
  defender-office-365/remediate-malicious-email-delivered-office-365.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#58 Update defender-for-office-365-whats-new.md
  defender-office-365/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#61 Patch 2
  defender-endpoint/gov.md
Labels: defender-endpoint/svc, Tier3

#63 Update alert-grading-playbook-inbox-forwarding-rules.md
  defender-xdr/alert-grading-playbook-inbox-forwarding-rules.md
Labels: Tier2, defender-xdr/svc

#64 Collect networking logs
  defender-endpoint/mde-plugin-wsl.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2

#66 Update tenant-allow-block-list-files-configure.md
  defender-office-365/tenant-allow-block-list-files-configure.md
Labels: defender-office-365/svc, Tier1

#65 Remove PowerShell as code block type as it is a KQL query, not a Powe…
  defender-endpoint/controlled-folders.md
Labels: defender-endpoint/svc, Tier2, asr/subsvc

#62 Update api-incident.md , add comment for Tag
  defender-xdr/api-incident.md
Labels: Tier3, defender-xdr/svc
