Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-10, with the labels that each got.

#106 Update mac-install-with-intune.md
  defender-endpoint/mac-install-with-intune.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#107 Update quarantine-policies.md
  defender-office-365/quarantine-policies.md
Labels: defender-office-365/svc, Tier1

#108 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc, mdo/subsvc

#109 Update prevent-changes-to-security-settings-with-tamper-protection.md
  defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#110 Update manage-tamper-protection-intune.md
  defender-endpoint/manage-tamper-protection-intune.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#112 Update defender-for-office-365-whats-new.md
  defender-office-365/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#111 Update prevent-changes-to-security-settings-with-tamper-protection.md
  defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#113 Update defender-for-office-365-whats-new.md
  defender-office-365/defender-for-office-365-whats-new.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#114 Update tenant-allow-block-list-urls-configure.md
  defender-office-365/tenant-allow-block-list-urls-configure.md
Labels: defender-office-365/svc, Tier1

#116 Update device-control-policies.md
  defender-endpoint/device-control-policies.md
Labels: defender-endpoint/svc, Tier2, asr/subsvc

#115 Adding documentation for automatic definitions update behavior
  defender-endpoint/linux-preferences.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#118 Update configure-environment.md
  defender-endpoint/configure-environment.md
Labels: defender-endpoint/svc, onboard/subsvc, Microsoft submitter, Tier1

#122 Update safe-links-policies-configure.md to match the two articles
  defender-office-365/safe-links-policies-configure.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#124 Update safe-links-about.md
  defender-office-365/safe-links-about.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#125 Update mac-schedule-scan.md
  defender-endpoint/mac-schedule-scan.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#126 Update indicator-manage.md
  defender-endpoint/indicator-manage.md
Labels: defender-endpoint/svc, Tier2, asr/subsvc

#130 Update mac-whatsnew.md
  defender-endpoint/mac-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc
