Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-08, with the labels that each got.

#70 Update outbound-spam-policies-configure.md
  defender-office-365/outbound-spam-policies-configure.md
Labels: Tier2, defender-office-365/svc

#69 Update troubleshoot-collect-support-log.md
  defender-endpoint/troubleshoot-collect-support-log.md
Labels: defender-endpoint/svc, Tier3, edr/subsvc

#68 Update tamperprotection-macos.md, update path to Microsoft Defender.app
  defender-endpoint/tamperprotection-macos.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc

#72 Fix typo in mac-support-perf.md
  defender-endpoint/mac-support-perf.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#71 Update manage-security-policies.md
  defender-endpoint/manage-security-policies.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter

#67 Update troubleshooting section to collect networking logs.
  defender-endpoint/mde-plugin-wsl.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2, Microsoft submitter

#60 Update device-control-deploy-manage-intune.md (Typo and formatting + Note Update)
  defender-endpoint/device-control-deploy-manage-intune.md
Labels: defender-endpoint/svc, Tier2, asr/subsvc

#73 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc, mdo/subsvc

#75 Update update-agent-mma-windows.md
  defender-endpoint/update-agent-mma-windows.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2, Microsoft submitter

#77 Update mdo-portal-permissions.md
  defender-office-365/mdo-portal-permissions.md
Labels: defender-office-365/svc, Tier1

#78 Update protect-your-c-suite-with-priority-account-protection.md
  defender-office-365/step-by-step-guides/protect-your-c-suite-with-priority-account-protection.md
Labels: Tier3, defender-office-365/svc

#76 Update configure-endpoints-mdm.md
  defender-endpoint/configure-endpoints-mdm.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier1

#79 Add india MDE public API url for better performance
  includes/improve-request-performance.md
Labels: defender-endpoint/svc, Microsoft submitter

#80 Update troubleshoot-collect-support-log.md
  defender-endpoint/troubleshoot-collect-support-log.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, edr/subsvc

#81 Update safe-links-about.md
  defender-office-365/safe-links-about.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#83 Update manage-tamper-protection-intune.md
  defender-endpoint/manage-tamper-protection-intune.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, ngp/subsvc

#85 Update email-authentication-dmarc-configure.md
  defender-office-365/email-authentication-dmarc-configure.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#89 Update mac-whatsnew.md
  defender-endpoint/mac-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc

#87 Update configure-vulnerability-email-notifications.md
  defender-endpoint/configure-vulnerability-email-notifications.md
Labels: defender-endpoint/svc, Tier2

#88 Update mac-install-with-intune.md
  defender-endpoint/mac-install-with-intune.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#91 Update enable-troubleshooting-mode.md
  defender-endpoint/enable-troubleshooting-mode.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#90 Update mac-whatsnew.md
  defender-endpoint/mac-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc

#92 Update configure-proxy-internet.md
  defender-endpoint/configure-proxy-internet.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier1

#94 Update quarantine-admin-manage-messages-files.md
  defender-office-365/quarantine-admin-manage-messages-files.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#93 Update quarantine-end-user.md
  defender-office-365/quarantine-end-user.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1
