Repository MicrosoftDocs/defender-docs, pull requests merged in 2024-09, with the labels that each got.

#95 Update linux-support-ebpf.md
  defender-endpoint/linux-support-ebpf.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#96 Update comprehensive-guidance-on-linux-deployment.md
  defender-endpoint/comprehensive-guidance-on-linux-deployment.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#98 Fix malformed note alert in microsoft defender offline
  defender-endpoint/microsoft-defender-offline.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#101 Update linux-install-with-ansible.md
  defender-endpoint/linux-install-with-ansible.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#102 Corrected the explanation of “Link in Attachment” listed in the Appen…
  defender-office-365/attack-simulation-training-insights.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#103 Release notes for 24072
  defender-endpoint/linux-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#104 Update linux-install-with-ansible.md
  defender-endpoint/linux-install-with-ansible.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#99 Update anti-spam-bulk-complaint-level-bcl-about.md
  defender-office-365/anti-spam-bulk-complaint-level-bcl-about.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#100 Update streaming-api-event-hub.md
  defender-xdr/streaming-api-event-hub.md
Labels: Tier3, defender-xdr/svc

#105 Update reports-email-security.md
  defender-office-365/reports-email-security.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc
