Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-05, with the labels that each got.

#266 Update linux-update-mde-linux.md
  defender-endpoint/linux-update-mde-linux.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#261 Update configure-attack-disruption.md
  defender-xdr/configure-attack-disruption.md
Labels: Tier2, defender-xdr/svc

#268 Update configure-attack-disruption.md
  defender-xdr/configure-attack-disruption.md
Labels: Tier2, defender-xdr/svc

#270 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#273 Update office-365-ti.md - Listed perms required to View Preview of em…
  defender-office-365/office-365-ti.md
Labels: defender-office-365/svc, Tier1

#271 Update mac-preferences.md
  defender-endpoint/mac-preferences.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc

#279 Update quarantine-policies.md
  defender-office-365/quarantine-policies.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#277 Update gov.md
  defender-endpoint/gov.md
Labels: defender-endpoint/svc, Tier3
