Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-04, with the labels that each got.

#238 Update web-protection-overview.md
  defender-endpoint/web-protection-overview.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, asr/subsvc

#239 Update reports-email-security.md
  defender-office-365/reports-email-security.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#247 moving the up-to-date pre-req to the section it belongs
  defender-endpoint/device-health-microsoft-defender-antivirus-health.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#245 Update submissions-admin-review-user-reported-messages.md
  defender-office-365/submissions-admin-review-user-reported-messages.md
Labels: Tier2, defender-office-365/svc

#250 Update mdo-threat-classification.md
  defender-office-365/mdo-threat-classification.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#246 Update mtd.md
  defender-endpoint/mtd.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2

#243 Update network-protection.md
  defender-endpoint/network-protection.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, asr/subsvc

#241 Update configure-endpoints-script.md
  defender-endpoint/configure-endpoints-script.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier1

#240 Update configure-endpoints-gp.md
  defender-endpoint/configure-endpoints-gp.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier1

#242 Update network-protection-macos.md
  defender-endpoint/network-protection-macos.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, macos/subsvc

#248 [Please Prioritize] Improve indicator overview for in-portal link
  defender-endpoint/indicators-overview.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, edr/subsvc

#251 Update linux-install-with-ansible.md (Verify if the deployment is successful section)
  defender-endpoint/linux-install-with-ansible.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#249 Update linux-install-manually.md
  defender-endpoint/linux-install-manually.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#255 Fix MD typo in device-discovery-faq.md
  defender-endpoint/device-discovery-faq.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier3

#263 Update threat-explorer-real-time-detections-about.md with current rol…
  defender-office-365/threat-explorer-real-time-detections-about.md
Labels: defender-office-365/svc, Tier1

#262 Update network-protection.md
  defender-endpoint/network-protection.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, asr/subsvc
