Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-01, with the labels that each got.

#164 Update microsoft-defender-endpoint-linux to remove reference to x86
  defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#165 Update shasum to the latest for XMDEClientAnalyzerBinary.zip
  defender-endpoint/run-analyzer-macos.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc

#169 Update anti-spam-bulk-senders-insight.md
  defender-office-365/anti-spam-bulk-senders-insight.md
Labels: Tier2, defender-office-365/svc

#170 Update recommended-settings-for-eop-and-office365.md
  defender-office-365/recommended-settings-for-eop-and-office365.md
Labels: defender-office-365/svc, Tier1

#172 Update links in run-analyzer-linux.md
  defender-endpoint/run-analyzer-linux.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#167 Update respond-machine-alerts.md
  defender-endpoint/respond-machine-alerts.md
Labels: defender-endpoint/svc, Tier2, edr/subsvc

#163 Update live-response.md
  defender-endpoint/live-response.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, edr/subsvc

#180 Update ios-troubleshoot.md
  defender-endpoint/ios-troubleshoot.md
Labels: defender-endpoint/svc, Tier3, ios/subsvc

#179 Update enable-network-protection.md
  defender-endpoint/enable-network-protection.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, asr/subsvc

#178 Update evaluate-mdav-using-gp.md -- Emm is reviewing
  defender-endpoint/evaluate-mdav-using-gp.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, ngp/subsvc

#177 Update defender-endpoint-false-positives-negatives.md -- Emm is reviewing
  defender-endpoint/defender-endpoint-false-positives-negatives.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier1, ngp/subsvc

#176 Update microsoft-defender-antivirus-compatibility.md -- Emm is reviewing
  defender-endpoint/microsoft-defender-antivirus-compatibility.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, ngp/subsvc

#182 Update linux-update-mde-linux.md
  defender-endpoint/linux-update-mde-linux.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#175 Update live-response-command-examples.md
  defender-endpoint/live-response-command-examples.md
Labels: defender-endpoint/svc, Tier3, edr/subsvc

#184 Update live-response.md
  defender-endpoint/live-response.md
Labels: defender-endpoint/svc, Tier3, edr/subsvc

#183 Added information about CommandLine Scanning Engine
  defender-endpoint/adv-tech-of-mdav.md
Labels: defender-endpoint/svc, ngp/subsvc

#185 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#187 Update anti-spoofing-spoof-intelligence.md
  defender-office-365/anti-spoofing-spoof-intelligence.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#186 Update mac-preferences.md
  defender-endpoint/mac-preferences.md
Labels: defender-endpoint/svc, Tier3, macos/subsvc
