Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-02, with the labels that each got.

#191 Update onboard-windows-multi-session-device.md
  defender-endpoint/onboard-windows-multi-session-device.md
Labels: defender-endpoint/svc, onboard/subsvc, Microsoft submitter, Tier3

#189 Update configure-updates.md
  defender-endpoint/configure-updates.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2

#195 Remove ill-formed space between link text and URL
  defender-endpoint/find-defender-malware-name.md
  defender-office-365/defender-for-office-365-whats-new.md
Labels: defender-endpoint/svc, Tier3, defender-office-365/svc, Tier1, edr/subsvc

#160 Update manage-rbac.md
  defender-xdr/manage-rbac.md
Labels: Tier3, defender-xdr/svc

#198 Update web-content-filtering.md
  defender-endpoint/web-content-filtering.md
Labels: defender-endpoint/svc, Tier2, Microsoft submitter, asr/subsvc

#197 Update linux-whatsnew.md for 2412-2 release
  defender-endpoint/linux-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#193 Update linux-preferences.md
  defender-endpoint/linux-preferences.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#199 Update linux-whatsnew.md
  defender-endpoint/linux-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#201 Update microsoft-secure-score.md with active community for discussion.
  defender-xdr/microsoft-secure-score.md
Labels: Tier2, defender-xdr/svc

#200 Update mdo-portal-permissions.md
  defender-office-365/mdo-portal-permissions.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#202 Update guidance-for-pen-testing-and-bas.md
  defender-endpoint/guidance-for-pen-testing-and-bas.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#205 Update anti-spam-bulk-senders-insight.md
  defender-office-365/anti-spam-bulk-senders-insight.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#203 Update microsoft-defender-endpoint-linux.md
  defender-endpoint/microsoft-defender-endpoint-linux.md
Labels: defender-endpoint/svc, Tier3, linux/subsvc

#207 Update attack-surface-reduction-rules-deployment-operationalize.md
  defender-endpoint/attack-surface-reduction-rules-deployment-operationalize.md
Labels: defender-endpoint/svc, Tier1, asr/subsvc
