Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-03, with the labels that each got.

#208 Update quarantine-faq.yml
  defender-office-365/quarantine-faq.yml
Labels: Tier2, Microsoft submitter, defender-office-365/svc

#209 Add config info to quarantine release request
  defender-office-365/quarantine-quarantine-notifications.md
Labels: defender-office-365/svc, Tier1

#212 Update configure-exclusions-microsoft-defender-antivirus.md
  defender-endpoint/configure-exclusions-microsoft-defender-antivirus.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#213 Update configure-endpoints-vdi.md
  defender-endpoint/configure-endpoints-vdi.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2

#214 Updating the SHA for binary version of Client Analyser
  defender-endpoint/run-analyzer-linux.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#215 Update device-health-microsoft-defender-antivirus-health.md
  defender-endpoint/device-health-microsoft-defender-antivirus-health.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc

#225 Update remediate-malicious-email-delivered-office-365.md
  defender-office-365/remediate-malicious-email-delivered-office-365.md
Labels: defender-office-365/svc, Tier1

#227 Update configure-machines-onboarding.md
  defender-endpoint/configure-machines-onboarding.md
Labels: defender-endpoint/svc, onboard/subsvc, Tier2

#226 Update mobile-resources-defender-endpoint.md
  defender-endpoint/mobile-resources-defender-endpoint.md
Labels: defender-endpoint/svc, Tier3, ngp/subsvc

#219 Update microsoft-defender-endpoint-mac.md
  defender-endpoint/microsoft-defender-endpoint-mac.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, macos/subsvc

#233 Update quarantine-admin-manage-messages-files.md
  defender-office-365/quarantine-admin-manage-messages-files.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#234 Update quarantine-end-user.md
  defender-office-365/quarantine-end-user.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#235 Improve clarity on Automatic Role Based and Built-in Exclusions on Windows Server
  defender-endpoint/configure-server-exclusions-microsoft-defender-antivirus.md
Labels: defender-endpoint/svc, Tier2, ngp/subsvc
