Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-06, with the labels that each got.

#281 Update tenant-allow-block-list-email-spoof-configure.md
  defender-office-365/tenant-allow-block-list-email-spoof-configure.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#284 Update safe-links-about.md Mostly clarifying the 'do not rewrite' fun…
  defender-office-365/safe-links-about.md
Labels: defender-office-365/svc, Tier1

#280 Update 101.25032.0010 release notes
  defender-endpoint/linux-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#253 Update playbook-responding-ransomware-m365-defender.md
  defender-xdr/playbook-responding-ransomware-m365-defender.md
Labels: Microsoft submitter, Tier1

#286 Update linux-whatsnew.md [Linux release notes]
  defender-endpoint/linux-whatsnew.md
Labels: defender-endpoint/svc, Microsoft submitter, Tier3, linux/subsvc

#291 Update submissions-result-definitions.md
  defender-office-365/submissions-result-definitions.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#292 Update submissions-admin.md
  defender-office-365/submissions-admin.md
Labels: Microsoft submitter, defender-office-365/svc, Tier1

#293 Update anti-malware-protection-for-spo-odfb-teams-about.md
  defender-office-365/anti-malware-protection-for-spo-odfb-teams-about.md
Labels: Tier2, Microsoft submitter, defender-office-365/svc
