Repository MicrosoftDocs/defender-docs, pull requests merged in 2025-09, with the labels that each got.

#348 Update validate-antimalware.md
  defender-endpoint/validate-antimalware.md
Labels: defender-endpoint/svc, Tier3, reference/subsvc

#224 Update manage-automation-file-uploads.md
  defender-endpoint/manage-automation-file-uploads.md
Labels: defender-endpoint/svc, Tier2, Keep open

#355 Update submissions-users-report-message-add-in-configure.md
  defender-office-365/submissions-users-report-message-add-in-configure.md
Labels: Tier2, defender-office-365/svc

#360 Remove duplicate eDLP benefit
  defender-endpoint/microsoft-defender-passive-mode.md
Labels: defender-endpoint/svc, Tier1, ngp/subsvc
